version: "3.8"

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: toko_farda_prediksi
    ports:
      - "3306:3306"

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS:
      DB_NAME: toko_farda_prediksi
      JWT_SECRET: verystrongsecret32charslong!!
    depends_on:
      - db
